.summary{
    padding: 10px 50px;
}

p.price{
    font-size: 24px;
}

p.bold{
    font-weight: bold;
}

.summary h2{
    font-size: 30px;
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
}

.content img{
    width: 80px;
    height: 80px;
}

.content{
    background-color: rgb(235, 235, 235);
    padding: 30px 50px;
    border-radius: 5px;
    animation: float 1s ease-in-out infinite;
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-8px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}