.footer{
    background-color: rgb(143,72,32);
    display: flex;
    gap: 160px;
    color: white;
    height: 300px;
    padding: 20px 0px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.location{
    width: 30%;
    padding-left: 100px;
}

.explore{
    width: 15%;
}

.location > div{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 15px;
    align-items: center;
    display: flex;
}

.location .company-name{
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 43px;
}

.location span.bulb-icon{
    margin-right: 10px;
}

.world-address-pic img{
    width: 420px;
    height: 220px;
    opacity: 20%;
    position: absolute;
    bottom: 13%;
    left: 50px;
}

.explore ul {
    list-style-type: none; 
    padding: 0; 
}

.explore a:hover {
    color: black;
}

.explore li {
    margin-bottom: 10px; 
}

.explore a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.explore h1, .social h1{
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.social > div{
    margin: 15px 0px;
}

.social img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}