
.content{
    width: 100%;
    position: absolute;
    top: 0;
    font-family: "Muli", sans-serif;
}

.profile-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

form{
    width: 40%;
    padding: 20px 50px 50px 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: rgb(212, 212, 212);
}

.edit-form{
    font-family: sans-serif;
    font-size: 16px;
    color: 002992;
    margin: 20px 0px 0px 0px;
    font-weight: bold;
}

.edit-form input{
    height: 40px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(235,235,235);
    margin: 5px 0px 10px 0;
    width: 100%;
}

input[type="text"]:valid {
    font-size: 16px;
    letter-spacing: 2px;
    font-family: sans-serif;
}

input[type="password"]:valid {
    font-size: 20px;
    letter-spacing: 5px;
}

.double-col{
    display: flex;
    gap: 60px;
    width: 100%;
    margin-top: 15px;
}

.double-col > div{
    width: 45%;
}

.btn{
    display: flex;
    justify-content: center ;
    gap: 30px;
    margin-top: 20px;
}

.btn button{
    border: 0;
    background-color: rgba(0, 41, 146, 1);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

.btn button:hover{
    opacity: 0.6;
    transition: 0.5s
}

button.cancel{
    background-color: rgb(255, 255, 255);
    color: black;
}

.top-heading{
    background-image: url("img/about-us-bg.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    width: 100%;
    height: 310px;
    position: relative;
}

.layer{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
}

.title{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: FF5C00;
    font-size: 64px;
    font-family: 'Roboto Serif', serif;
}
